services:

  db:
    image: postgres:15
    container_name: bidding-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auction
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: bidding-redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: bidding-backend
    restart: always
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:password@db:5432/auction
      JWT_SECRET: SUPER_SECRET_KEY
    ports:
      - "8000:8000"

volumes:
  postgres_data: